/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik:wght@300;500;700&display=swap");

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;

  @media screen and (max-width: 360px) {
    font-size: 14px;
    line-height: 24px;
  }
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 30px;
  line-height: 40px;
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
  }

  h2 {
    font-size: 26px;
    line-height: 36px;
  }
}

h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.5em;
  text-transform: uppercase;

  @media screen and (max-width: 360px) {
    font-size: 10px;
    line-height: 20px;
  }
}

h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

h5 {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.project-section {
  padding: 70px;
  max-width: 100%;

  @media screen and (max-width: 360px) {
    padding: 10px;
    overflow: hidden;
  }
}

.donation-section {
  background-color: #005ef3;
  padding: 70px;
  overflow: hidden;

  @media screen and (max-width: 360px) {
    padding: 60px 10px;
  }
}

.centered {
  display: flex;
  justify-content: center;
}
